<div class="legend__altitude-container">
    <svg data-lab-size-to-scales="altitudeSizeScales" class="legend-altitude"
         data-ng-mouseover="states.showMapAltitude = true;"
         data-ng-mousemove="moveAltitudePoint($event)"
         data-ng-mouseleave="states.showMapAltitude = false">
        <g data-ng-if="altGraph" data-lab-margin>
            <path
                class="legend-altitude__path"
                style="stroke: url({{location}}#altitudeGradient)"
                data-lab-render="renderAltitudePath"></path>
            <g data-ng-repeat="mark in altGraph.distanceMarks" data-lab-render="renderDistanceMark">
                <line class="legend-altitude__mark"></line>
                <text
                    dy="9.5"
                    class="legend-altitude__mark-text">
                    {{mark.toString().replace('.', ',')}}
                    <tspan data-ng-show="$first">
                        {{'KILOMETER' | translate}}
                    </tspan>
                </text>
            </g>
            <g data-ng-repeat="point in altGraph.points" data-lab-render="renderPoint" data-ng-hide="states.showMapAltitude">
                <circle></circle>
                <text class="legend-altitude__min-max-text">{{point.alt}} {{'METER' | translate}}</text>
            </g>
            <g data-ng-if="states.showMapAltitude">
                <circle
                    data-ng-attr-cx="{{movingPoint.position.x}}"
                    data-ng-attr-cy="{{movingPoint.position.y}}"
                    data-ng-attr-r="{{altGraph.pointRadius}}"></circle>
                <text
                    data-ng-attr-x="{{movingPoint.position.x}}"
                    data-ng-attr-y="{{movingPoint.position.y - 5}}"
                    class="legend-altitude__min-max-text">{{altitudePoint.altitude}} {{'METER' | translate}}</text>
            </g>
            <image
                data-ng-repeat="flag in altGraph.flags"
                data-lab-render="renderFlag"></image>
            <linearGradient
                id="altitudeGradient"
                gradientUnits="userSpaceOnUse"
                data-lab-render="renderGradient"
                y2="0"
                >
                <stop offset="0%" stop-color="#fc0"></stop>
                <stop offset="100%" stop-color="#f03"></stop>
            </linearGradient>
        </g>
    </svg>
</div>