<div class="factoids">
    <div data-ng-show="currentTrackName == 10 ">
        <div
            style="
            top:   95px;
            left:  50px;
            width: 190px;
            "
            data-ng-show="showFactoid(0, 60)"
            class="factoids__factoid">
            <img class="factoids__img" style="margin-top: -10px; height: 75px;" src="img/time.png" />
            <h5 class="factoids__bold">На 3 мин 10 сек</h5>
            <div class="factoid__text">улучшен прошлогодний рекорд трассы&nbsp;—&nbsp;1:09:32</div>
        </div>
    </div>

</div>