<div class="factoids">
    <div data-ng-show="currentTrackName == '21km' ">
        <div
            style="
            top:   95px;
            left:  50px;
            width: 190px;
            "
            data-ng-show="showFactoid('09:00', '14:00')"
            class="factoids__factoid">
            <img class="factoids__img" style="margin-top: -10px; height: 75px;" src="img/time.png"/>
            <div data-ng-show="language == 'ru'">
                <h5 class="factoids__bold">На 3 мин 10 сек</h5>
                <div class="factoid__text">улучшен прошлогодний рекорд трассы&nbsp;—&nbsp;1:09:32</div>
            </div>
            <div data-ng-show="language == 'en'">
                <h5 class="factoids__bold">By 3 min 10 s</h5>
                <div class="factoid__text">improved the previous record of 1:09:32<br>set in 2014</div>
            </div>
        </div>
    </div>
    <div data-ng-show="currentTrackName == '42km' || currentTrackName == 'hb'">
        <div style="
            top:   475px;
            left:  400px;
            width: 220px;
            "
            data-ng-show="showFactoid('09:00', '16:00')"
            class="factoids__factoid">
            <img class="factoids__img" style="margin-top: -10px; height: 75px;" src="img/mgu.png"/>
            <div class="factoid__text">
                <span class="factoids__bold">230 м</span>
                 суммарного подъема —<br>это 77 этажей или высота<br>ГЗ МГУ со шпилем</div>
        </div>
    </div>

</div>