<div class="gender-age-legend">
    <svg class="gender-age-legend__svg">
        <g transform="translate(2,1)">
            <g
                    data-ng-mouseover="showTooltip(item, $last); hovered = true"
                    data-ng-mousemove="moveTooltip($event)"
                    data-ng-mouseleave="hideTooltip(); hovered = false"
                    data-ng-repeat="item in ageGraphData.genderItems[1]">
                <rect
                        data-ng-attr-x="{{ageGraphData.maxMaleWidth - item.width - ageGraphData.space}}"
                        data-ng-attr-y="{{item.y}}"
                        data-ng-attr-width="{{item.width}}"
                        data-ng-attr-height="{{item.height - ageGraphData.space}}"
                        data-ng-attr-fill="{{item.color}}"
                        data-ng-attr-stroke="{{item.color}}"
                        data-ng-class="{'gender-age-legend__color-rect--highlighted': hovered}"
                        class="gender-age-legend__color-rect"></rect>
                <rect
                        x="0"
                        data-ng-attr-y="{{item.y}}"
                        data-ng-attr-width="{{ageGraphData.maxMaleWidth}}"
                        data-ng-attr-height="{{item.height}}"
                        class="gender-age-legend__color-transparent-rect"
                        ></rect>
            </g>
            <g
                    data-ng-mouseover="showTooltip(item, $last); hovered = true"
                    data-ng-mousemove="moveTooltip($event)"
                    data-ng-mouseleave="hideTooltip(); hovered = false"
                    data-ng-repeat="item in ageGraphData.genderItems[0]">
                <rect
                        data-ng-attr-x="{{ageGraphData.maxMaleWidth + ageGraphData.space}}"
                        data-ng-attr-y="{{item.y}}"
                        data-ng-attr-width="{{item.width}}"
                        data-ng-attr-height="{{item.height - ageGraphData.space}}"
                        data-ng-attr-fill="{{item.color}}"
                        data-ng-attr-stroke="{{item.color}}"
                        data-ng-class="{'gender-age-legend__color-rect--highlighted': hovered}"></rect>
                <rect
                        data-ng-attr-x="{{ageGraphData.maxMaleWidth + ageGraphData.space}}"
                        data-ng-attr-y="{{item.y}}"
                        data-ng-attr-width="{{ageGraphData.maxFemaleWidth}}"
                        data-ng-attr-height="{{item.height}}"
                        class="gender-age-legend__color-transparent-rect"
                        ></rect>
            </g>
            <g data-ng-attr-transform="translate({{ageGraphData.maxMaleWidth + ageGraphData.maxFemaleWidth + 3}},0)">
                <text
                        data-ng-repeat="label in labelsData"
                        x="0"
                        data-ng-attr-y="{{label.y}}"
                        class="gender-age-legend__label">{{label.label}}
                </text>
            </g>
            <rect
                    class="gender-age-legend__blur-rect"
                    data-ng-attr-width="{{ageGraphData.maxMaleWidth + ageGraphData.maxFemaleWidth}}"
                    data-ng-attr-height="{{ageGraphData.genderItems[0][ageGraphData.genderItems[0].length - 1].height}}"
                    data-ng-attr-x="0"
                    data-ng-attr-y="{{ageGraphData.genderItems[0][ageGraphData.genderItems[0].length - 1].y}}"
                    data-ng-attr-fill="url({{location}}#ageBottomGradient)"></rect>
        </g>
        <defs>
            <linearGradient
                    id="ageBottomGradient"
                    x1="0%" y1="0%" x2="0%" y2="100%"
                    >
                <stop offset="0%" stop-color="rgba(255,255,255,0)"></stop>
                <stop offset="100%" stop-color="rgba(255,255,255,255)"></stop>
            </linearGradient>
        </defs>

    </svg>
    <div
            class="gender-age-legend__tooltip"
            style="
                top: {{tooltipPosition.top}};
                left: {{tooltipPosition.left}};
            "
            data-ng-if="tooltipData">
        <span data-ng-hide="isLast">
            {{tooltipData.count}} {{tooltipData.count | numberDeclension:(tooltipData.genderString | translate) }} <br>
            <span data-ng-show="language == 'ru'">{{'FROM' | translate}}</span> {{tooltipData.start}} {{'TO' | translate}} {{tooltipData.end}} {{10 | numberDeclension:('YEAR_DECLENSION' | translate)}}
        </span>
        <span data-ng-show="isLast">
            {{tooltipData.count}} {{tooltipData.count | numberDeclension:(tooltipData.genderString | translate) }} <br>
            {{'OLDER' | translate}} {{tooltipData.start}} {{10 | numberDeclension:('YEAR_DECLENSION' | translate)}}
        </span>
    </div>
</div>