<div class="gender-age-legend">
    <svg class="gender-age-legend__svg">
        <g data-lab-margin>
            <g
                data-ng-repeat="item in ageGraphData.ageItems"
                data-ng-init="lastAgeGroup = $last"
                data-lab-render="renderText">
                <g
                    data-ng-repeat="genderGroup in item.runners"
                    data-ng-mouseover="tooltip.data = genderGroup; hovered = true;"
                    data-ng-mousemove="moveTooltip($event, lastAgeGroup)"
                    data-ng-mouseleave="tooltip.data = null; hovered = false"
                    data-lab-render="renderRect">
                    <rect
                        data-ng-class="{'gender-age-legend__color-rect--highlighted': hovered}"
                        class="gender-age-legend__color-rect"></rect>
                    <rect class="gender-age-legend__color-transparent-rect"></rect>
                </g>
                <text class="gender-age-legend__label">{{item.label}}</text>
            </g>
            <rect data-lab-render="renderBlurRect" class="gender-age-legend__blur-rect" x="0"></rect>
        </g>
        <defs>
            <linearGradient
                id="ageBottomGradient"
                x1="0%" y1="0%" x2="0%" y2="100%"
                >
                <stop offset="0%" stop-color="rgba(255,255,255,0)"></stop>
                <stop offset="100%" stop-color="rgba(255,255,255,255)"></stop>
            </linearGradient>
        </defs>

    </svg>
    <div
        class="gender-age-legend__tooltip"
        style="
                top: {{tooltip.position.top}};
                left: {{tooltip.position.left}};
            "
        data-ng-if="tooltip.data">
        <span data-ng-hide="isLast">
            {{tooltip.data.count}} {{tooltip.data.count | numberDeclension:(tooltip.data.genderString | translate) }} <br>
            <span data-ng-show="language == 'ru'">{{'FROM' | translate}}</span> {{tooltip.data.start}} {{'TO' | translate}} {{tooltip.data.end}} {{10 | numberDeclension:('YEAR_DECLENSION' | translate)}}
        </span>
        <span data-ng-show="isLast">
            {{tooltip.data.count}} {{tooltip.data.count | numberDeclension:(tooltip.data.genderString | translate) }} <br>
            {{'OLDER' | translate}} {{tooltip.data.start}} {{10 | numberDeclension:('YEAR_DECLENSION' | translate)}}
        </span>
    </div>
</div>