<div class="map-container">
    <selected-runner-tooltip
        runner="selectedRunnerOnMap.runner"
        position="selectedRunnerOnMap.position"
        data-ng-show="selectedRunnerOnMap.runner"></selected-runner-tooltip>
    <svg class="map-container__svg">
        <g data-lab-render="scaleAll">
        <image
            class="map-container__background-map"
            xlink:href="" data-ng-href="{{('MAP_SRC_' + currentTrackName) | translate}}"/>
        <g class="snakeGroup" data-lab-render="renderSnakeGroup">
            <path class="snake-group__track"></path>
            <path data-ng-repeat="area in ageAreas" class="snake-group__snake"></path>
            <circle data-ng-repeat="runner in circles track by runner.number" class="snake-group__circle"></circle>
        </g>
        <image
            data-ng-repeat="flag in flags"
            data-lab-render="renderFlag"
            class="map-container__start-finish"/>
        <selected-runners></selected-runners>
        </g>
    </svg>
</div>