<svg class="map-container">
    <image
            class="map-container__background-map"
            xlink:href="img/half-marathon-map.png"
            data-ng-attr-width="{{mapParams[currentTrackName].width}}"
            data-ng-attr-height="{{mapParams[currentTrackName].height}}"
            data-ng-attr-x="{{mapParams[currentTrackName].x}}"
            data-ng-attr-y="{{mapParams[currentTrackName].y}}"/>
    <g class="snakeGroup">
        <path
                data-ng-attr-d="{{}}"></path>
    </g>
    <selected-runners data-ng-if="trackPath"></selected-runners>
</svg>