<table class="runners-list">
    <tr
            data-ng-repeat="runner in runnersList track by runner.id"
            data-ng-click="selectRunner(runner)"
            data-ng-class="{
            'runners-list__item--selected': selectedRunners.indexOf(runner) >= 0,
            'female': runner.gender == 0,
            'male': runner.gender == 1,
            'winner': runner.winner}"
            class="runners-list__item"
            >
        <td class="runners-list__position">
            <span class="runners-list__mark">
                <span data-ng-show="!filterValues.gender">{{runner.pos}}</span>
                <span data-ng-show="filterValues.gender">{{runner.gender_pos}}</span>
            </span></td>
        <td class="runners-list__name">{{runner.full_name}}</td>
        <td class="runners-list__number">{{runner.num}}</td>
        <td class="runners-list__age">{{runner.age}}</td>
        <td class="runners-list__team">{{runner.team}}</td>
        <td class="runners-list__city">{{runner.city}}</td>
        <td class="runners-list__result">{{runner.result_time_string}}</td>
    </tr>
</table>