<svg class="snake-rise-legend">
    <g data-ng-if="currentTrackName != 'hb'" data-lab-render="renderSnakeLegend" data-lab-margin>
        <path class="snake-rise-legend__male-path"></path>
        <path class="snake-rise-legend__female-path"></path>
        <path class="snake-rise-legend__all-path"></path>
        <text class="snake-rise-legend__counter">
            <tspan class="snake-rise-legend__numbers-current">{{snake.count.all}}</tspan>
            <tspan class="snake-rise-legend__text-current">{{'RUNNERS_PER_KM' | translate}}</tspan>
        </text>

        <g data-ng-attr-transform="translate({{snake.width + 5}},0)">
            <text class="snake-rise-legend__counter-max">
                <tspan class="snake-rise-legend__text-max" x="0">{{'MAX' | translate}}</tspan>
                <tspan class="snake-rise-legend__numbers-max" x="0" dy="10">{{snake.count.max}}</tspan>
            </text>
            <text
                class="snake-rise-legend__counter-male"
                x="0"
                data-ng-attr-y="{{snake.countPosition.male}}"
                data-ng-show="snake.count.male">{{snake.count.male}}
            </text>
            <text
                class="snake-rise-legend__counter-female"
                x="0"
                data-ng-attr-y="{{snake.countPosition.female}}"
                data-ng-show="snake.count.female">{{snake.count.female}}
            </text>
        </g>
    </g>
    <g data-ng-if="currentTrackName == 'hb'" data-lab-render="renderCircleLegend" data-lab-margin>
        <circle
            data-ng-repeat="item in [0, 1, 2]"
            class="snake-rise-legend__male-circle"
            cy="10" r="3"></circle>
        <text
            class="snake-rise-legend__counter-male">{{}}</text>

        <circle
            data-ng-repeat="item in [0, 1, 2]"
            class="snake-rise-legend__female-circle"
            cy="25" r="3"></circle>
        <text
            class="snake-rise-legend__counter-female">{{}}</text>
    </g>
</svg>
