<svg class="snake-rise-legend">
    <g data-ng-if="currentTrackName != 'hb' && currentTrackName != 'rw'" data-lab-render="renderSnakeLegend" data-lab-margin>
        <path class="snake-rise-legend__male-path"></path>
        <path class="snake-rise-legend__female-path"></path>
        <path class="snake-rise-legend__all-path"></path>
        <text class="snake-rise-legend__counter">
            <tspan class="snake-rise-legend__numbers-current">{{snake.count.all}}</tspan>
            <tspan class="snake-rise-legend__text-current">{{'RUNNERS_PER_KM' | translate}}</tspan>
        </text>

        <g data-ng-attr-transform="translate({{snake.width + 5}},0)">
            <text class="snake-rise-legend__counter-max">
                <tspan class="snake-rise-legend__text-max" x="0">{{'MAX' | translate}}</tspan>
                <tspan class="snake-rise-legend__numbers-max" x="0" dy="10">{{snake.count.max}}</tspan>
            </text>
            <text
                class="snake-rise-legend__counter-male"
                x="0"
                data-ng-attr-y="{{snake.countPosition.male}}"
                data-ng-show="snake.count.male">{{snake.count.male}}
            </text>
            <text
                class="snake-rise-legend__counter-female"
                x="0"
                data-ng-attr-y="{{snake.countPosition.female}}"
                data-ng-show="snake.count.female">{{snake.count.female}}
            </text>
        </g>
    </g>
    <g data-ng-if="currentTrackName == 'hb' || currentTrackName == 'rw'" data-lab-render="renderCircleLegend" data-lab-margin>
        <g data-ng-show="runnersCount.male">
            <circle
                data-ng-repeat="item in [0, 1, 2]"
                class="snake-rise-legend__male-circle"
                cy="10" r="2"></circle>
            <text x="50" y="10"
                  class="snake-rise-legend__counter">
                {{runnersCount.male}} {{runnersCount.male | numberDeclension:( 'MEN_DECLENSION' | translate)}}
            </text>
        </g>
        <g data-ng-show="runnersCount.female">
            <circle
                data-ng-repeat="item in [0, 1, 2]"
                class="snake-rise-legend__female-circle"
                cy="30" r="2"></circle>
            <text x="50" y="30"
                  class="snake-rise-legend__counter">
                {{runnersCount.female}} {{runnersCount.female | numberDeclension:( 'WOMEN_DECLENSION' | translate)}}
            </text>
        </g>
    </g>
</svg>
