<div class="time-graph"
     data-ng-mouseleave="selectedRunnerOnGraph = null">
    <div class="time-graph__runners-count">
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male">
            {{runnersCount.male}} {{runnersCount.male | numberDeclension:genderWords[1]}}</span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male && runnersCount.female">
            <br> и </span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.female">
            {{runnersCount.female}} {{runnersCount.female | numberDeclension:genderWords[0]}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <span data-ng-show="runnersCount.minAge != runnersCount.maxAge">
                <br>от {{runnersCount.minAge}} до </span>
            {{runnersCount.maxAge}} {{runnersCount.maxAge | numberDeclension:ageWords}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <br>по времени финиша</span>
    </div>
    <time-marks></time-marks>
    <svg
        class="time-graph__svg"
        data-ng-mousemove="selectRunnerOnGraph($event)">
        <g
            data-ng-repeat="area in ageAreas">
            <path
                data-ng-attr-d="{{area.left.d}}"
                data-ng-attr-fill="{{area.left.color}}"></path>
            <path
                data-ng-attr-d="{{area.right.d}}"
                data-ng-attr-fill="{{area.right.color}}"></path>
        </g>
        <g
            data-ng-repeat="winner in [winners.female, winners.male]"
            data-ng-attr-transform="translate({{winner.position.x}},{{winner.position.y}})"
            >
            <bottom-line
                stroke="color=(time.current > winner.runner.end_time)? winner.color : winner.gray"
                padding="10">
                <backed-text>
                    <text y="0" class="time-graph__winners-text">
                        <tspan x="0">{{winner.runner.full_name.split(' ')[0]}}</tspan>
                        <tspan x="0" dy="16">{{winner.runner.full_name.split(' ')[1]}}</tspan>
                        <tspan x="0" dy="16">{{winner.runner.result_time_string}}</tspan>
                    </text>
                </backed-text>
            </bottom-line>

        </g>

        <finish-time-line></finish-time-line>
    </svg>
    <selected-runner-tooltip
        runner="selectedRunnerOnGraph"
        position="selectedRunnerPosition"
        data-ng-show="selectedRunnerOnGraph"></selected-runner-tooltip>
    <div
        class="selected-runner-tooltip__pointer"
        style="
                right: {{tooltipPointer.position.x}}px;
                bottom: {{tooltipPointer.position.y}}px;
                width: {{tooltipPointer.stepSize.width}}px;
                height: {{tooltipPointer.stepSize.height}}px;
            "
        data-ng-if="selectedRunnerOnGraph"></div>
    <slider></slider>
</div>