<div class="time-graph"
     data-ng-mouseleave="selectedRunnerOnGraph = null">
    <div class="time-graph__runners-count">
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male">
            {{runnersCount.male}} {{runnersCount.male | numberDeclension:( 'MEN_DECLENSION' | translate)}}</span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male && runnersCount.female">
            <br> {{'AND' | translate}} </span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.female">
            {{runnersCount.female}} {{runnersCount.female | numberDeclension:( 'WOMEN_DECLENSION' | translate)}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <span data-ng-show="runnersCount.minAge != runnersCount.maxAge">
                <br><span data-ng-show="language == 'ru'">{{'FROM' | translate}}</span> {{runnersCount.minAge}} {{'TO' | translate}} </span>
            {{runnersCount.maxAge}} {{runnersCount.maxAge | numberDeclension:('YEAR_DECLENSION' | translate)}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <br>{{'FINISH_TIME' | translate}}</span>
    </div>
    <time-marks></time-marks>
    <svg
        class="time-graph__svg"
        data-ng-mousemove="selectRunnerOnGraph($event)"
        data-lab-size-to-scales="timeGraphScales">
        <symbol id="graph">
                <path data-ng-repeat="area in ageAreas" data-lab-render="renderAgeArea"></path>
        </symbol>
        <filter id='grayscale'>
            <feColorMatrix
                type='matrix'
                values='0.2125 0.7154 0.0721 0 0, 0.2125 0.7154 0.0721 0 0, 0.2125 0.7154 0.0721 0 0, 0 0 0 1 0'/>
        </filter>
        <use xlink:href="" data-ng-href="{{location}}#graph" data-ng-attr-filter="url({{location}}#grayscale)" />
        <use xlink:href="" data-ng-href="{{location}}#graph" data-ng-attr-width="{{timeScale(time.current)}}" />

        <g data-ng-if="winners">
            <g
                data-ng-repeat="winner in [winners.female, winners.male]"
                data-ng-attr-transform="translate({{timeScale(winner.runner.end_time)}},{{winner.position.y}})"
                >
                <bottom-line
                    stroke="color = (winner.runner.end_time < time.current) ? winner.color : winner.gray"
                    padding="10">
                    <backed-text>
                        <text y="0" class="time-graph__winners-text">
                            <tspan x="0">{{winner.runner.full_name.split(' ')[0]}}</tspan>
                            <tspan x="0" dy="16">{{winner.runner.full_name.split(' ')[1]}}</tspan>
                            <tspan x="0" dy="16">{{winner.runner.result_time_string}}</tspan>
                        </text>
                    </backed-text>
                </bottom-line>
            </g>
        </g>

        <finish-time-line></finish-time-line>
    </svg>
    <selected-runner-tooltip
        runner="selectedRunnerOnGraph"
        position="selectedRunnerPosition"
        data-ng-show="selectedRunnerOnGraph"></selected-runner-tooltip>
    <div
        class="selected-runner-tooltip__pointer"
        style="
                right: {{tooltipPointer.position.x}}px;
                bottom: {{tooltipPointer.position.y}}px;
                width: {{tooltipPointer.stepSize.width}}px;
                height: {{tooltipPointer.stepSize.height}}px;
            "
        data-ng-if="selectedRunnerOnGraph"></div>
    <slider></slider>
</div>