<div class="time-graph">
    <div class="time-graph__runners-count">
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male">
            {{runnersCount.male}} {{runnersCount.male | numberDeclension:genderWords[1]}}</span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.male && runnersCount.female">
            и <br> </span>
        <span class="time-graph__bold-text" data-ng-show="runnersCount.female">
            {{runnersCount.female}} {{runnersCount.female | numberDeclension:genderWords[0]}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <span data-ng-show="runnersCount.minAge != runnersCount.maxAge">
                <br>от {{runnersCount.minAge}} до </span>
            {{runnersCount.maxAge}} {{runnersCount.maxAge | numberDeclension:ageWords}}</span>
        <span class="time-graph__text" data-ng-show="runnersCount.male || runnersCount.female">
            <br>по времени финиша</span>
    </div>
    <time-marks></time-marks>
    <svg
            class="time-graph__svg"
            data-ng-mousemove="selectRunnerOnGraph($event)"
            data-ng-mouseover="showInfo()"
            data-ng-mouseleave="hideInfo()">
        <finish-time-line></finish-time-line>
    </svg>
    <selected-runner-info></selected-runner-info>
    <slider></slider>
</div>