<div class="track-switch">
    <div
            class="track-switch__item"
            data-ng-click="currentTrackName = '42km'"
            data-ng-class="{'track-switch__item--active': currentTrackName == '42km'}">
        <img class="track-switch__runner" src="img/runner.png">
        <span class="track-switch__text">42</span>
    </div>
    <div
            class="track-switch__item"
            data-ng-click="currentTrackName = 'hb'"
            data-ng-class="{'track-switch__item--active': currentTrackName == 'hb'}">
        <img class="track-switch__handbiker " src="img/handbiker.png">
        <span class="track-switch__text">42</span>
    </div>
    <div
        class="track-switch__item"
        data-ng-click="currentTrackName = '10km'"
        data-ng-class="{'track-switch__item--active': currentTrackName == '10km'}">
        <img class="track-switch__runner" src="img/runner.png">
        <span class="track-switch__text">10 КM</span>
    </div>
</div>