.dropdown-filter {
    float: left;
}

.dropdown-filter__list {
    overflow: auto;
    display: none;
    position: absolute;
}

.dropdown-filter--open .dropdown-filter__list {
    display: block;
}

.dropdown-filter__item {
    overflow: hidden;
}

.dropdown-filter__current-value {
    position: relative;
    display: block;
}
