<div
        class="dropdown-filter"
        data-ng-class="{ 'dropdown-filter--open': state == 'open' }">
    <span
            class="dropdown-filter__current-value"
            tabindex="0"
            data-ng-bind-html="currentValue|trust"
            data-ng-click="toggleList()"
            data-ng-blur="closeList()"></span>
    <ul class="dropdown-filter__list">
        <li
                data-ng-if="config.allValues"
                data-ng-mousedown="select(null)"
                data-ng-bind-html="config.allValues|trust"
                data-ng-class="{'dropdown-filter__item--active': currentId == null }"
                class="dropdown-filter__item"></li>
        <li
                data-ng-repeat="(id, text) in values"
                data-ng-mousedown="select(id)"
                data-ng-bind-html="text|trust"
                data-ng-class="{'dropdown-filter__item--active': currentId == id }"
                class="dropdown-filter__item"></li>
    </ul>
</div>




