body {
    color: #222;
    font-family: Regular, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

svg {
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
}

.big-wrap {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.map-overlay__header {
    padding-top: 40px;
    float: left;
    width: 100%;
    letter-spacing: 0.03em;
}
.map-overlay__title {
    font-family: Bold, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1;
    float: left;
}

.map-overlay__right-column {
    float: right;
    width: 260px;
}
.legend__header {
    font-family: Bold, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.legend__altitude {
    margin-bottom: 30px;
    margin-top: 30px;
}
.legend__gender-age {
    width: 50%;
    float: left;
}
.legend__gender-age-container {
    height: 150px;
}
.legend__snake-rise {
    width: 50%;
    float: left;
}
.track-switch-container{
    float: left;
    margin-left: 20px;
    margin-top: -4px;
}
.filters-container__filters {
    clear: both;
    padding: 7px 0;
}
.filters-container__h2 {
    font-size: 30px;
    display: inline-block;
    float: left;
    font-family: Bold, Arial, Helvetica, sans-serif;
    margin: 0;
}
.time-graph-container {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}