body {
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
}

.big-wrap {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.map-overlay__right-column {
    float: right;
    width: 260px;
}
.legend__header {
    font-family: Bold, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.legend__altitude {
    margin-bottom: 30px;
    margin-top: 30px;
}
.legend__gender-age {
    width: 50%;
    float: left;
}
.legend__snake-rise {
    width: 50%;
    float: left;
}

.filters-container__filters {
    clear: both;
    padding: 7px 0;
}
.filters-container__h2 {
    font-size: 30px;
    display: inline-block;
    float: left;
    font-family: Bold, Arial, Helvetica, sans-serif;
    margin: 0;
}

.runners-list {
    width: 100%;
    clear: left;
    margin-bottom: 10px;
    margin-top: 20px;
}


.runners-list .male:hover {
    background-color: #e7e9fd;
}

.runners-list .female:hover {
    background-color: #fce4ec;
}

.time-graph-container {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}