<html>
<head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="big-wrap">
    <div data-ng-app="marathon" data-ng-controller="MarathonController">
        <map-container data-ng-if="filteredRunners"></map-container>
        <div class="map-overlay">
            <div class="map-overlay__header">
                <span class="map-overlay__title">МОСКОВСКИЙ ПОЛУМАРАФОН</span>

                <div class="track-switch-container">
                    <track-switch></track-switch>
                </div>
            </div>
            <div class="map-overlay__right-column">
                <div class="map-overlay__weather"></div>
                <div class="map-overlay__legend">
                    <div class="legend">
                        <div class="legend__altitude">
                            <span class="legend__header">Высотный профиль</span>
                            <altitude-legend></altitude-legend>
                            Общий набор высоты - 73м <br>
                            169м - самая высокая точка Московского Марафона
                        </div>
                        <div class="legend__gender-age">
                            <span class="legend__header">Пол и возраст</span>
                            <div class="legend__gender-age-container">
                                <gender-age-legend data-ng-if="runnersData"></gender-age-legend>
                            </div>
                        </div>
                        <div class="legend__snake-rise">
                            <span class="legend__header">Толщина змея</span>
                            <snake-rise-legend></snake-rise-legend>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="time-graph-container">
            <time-graph data-ng-if="filteredRunners"></time-graph>
        </div>
        <sticky-header>
            <div class="filters-container">
                <div class="filters-container__gender-filter">
                    <h2 class="filters-container__h2">Результаты</h2>
                    <data-lab-dropdown-filter
                            config="filterGender"
                            class="{{filterGender.filterClass}}"
                            data-ng-if="filterGender"></data-lab-dropdown-filter>
                </div>
                <div class="filters-container__filters">
                    <search></search>
                    <data-lab-dropdown-filter
                            config="filter"
                            class="{{filter.filterClass}}"
                            data-ng-repeat="filter in filters"></data-lab-dropdown-filter>
                </div>
            </div>
        </sticky-header>
        <runners-list data-ng-if="limitedFilteredRunners"></runners-list>
        <button data-ng-click="limit = limit + 100">Ещё 100</button>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>