.factoids {
    height: 100%;
    width: 100%;
    position: absolute;
    letter-spacing: 0.03em;
    z-index: -1;
}

.factoids__factoid {
    position: absolute;
}

.factoids__img {
    margin-bottom: 5px;
}

.factoids__bold {
    font-family: Bold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}