.loader-container__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 200;
    overflow: hidden;
}
.map-container-container .loader-container__cover {
    position: absolute;
    z-index: 0;
}
.loader-container__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url(../img/mm-logo.png) 50% 264px / 62px no-repeat;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.loader-container--active {
}
.loader-container--inactive > .loader-container__cover {
    display: none;
    overflow: visible;
}

@-moz-keyframes spin {
    50% { -moz-transform: scaleX(-1); }
    100% { -moz-transform: scaleX(1); }
}
@-webkit-keyframes spin {
    50% { -webkit-transform: scaleX(-1); }
    100% { -webkit-transform: scaleX(1); }
}
@keyframes spin {
    50% { -webkit-transform: scaleX(-1); transform:scaleX(-1); }
    100% { -webkit-transform: scaleX(1); transform:scaleX(1); }
}
