.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.snake-group__track {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.snake-group__snake {
    stroke: none;
}