.selected-runners__rect rect {

}

.selected-runners__text {
    fill: #fff;
    text-anchor: middle;
    alignment-baseline: central;
    cursor: default;
    pointer-events: none;
    font-size: 10px;
}

.selected-runners__rect-male rect {
    fill: rgb(68, 136, 238);
}

.selected-runners__rect-female rect {
    fill: rgb(255, 68, 102);
}