.slider {
    width: 1px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.slider__handle {
    width: 50px;
    margin-left: -25px;
    margin-top: -33px;
    cursor: pointer;
}
.slider__line {
    height: 178px;
    cursor: pointer;
}

.slider__selected-time {
    position: absolute;
    width: 50px;
    text-align: center;
    top: -28px;
    left: -25px;
    color: #fd0f3a;
}